<html>
    <head>
        <title> quiz 2 </title>
    </head>
    <body>
        <h2> quiz 2 </h2>
        <body>
            <tr>
            <form class="example" method="post" action=""
            style="margin:auto;max-width:850px">
                <h3>population and n </h3>
                <input type="text" id="data-apreensao" name="pop1" class="form-control" format="start" placeholder="value">
               <input type="text" id="data-apreensao" name="pop2" class="form-control" format="end" placeholder="value">
               <input type="text" id="data-apreensao" name="n1" class="form-control"  placeholder="enter n">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>
               <br>
               <br>
               <h3> min and max lat and lon</h3>
               <input type="text" placeholder="lat1" name="from_lat" placeholder="lat1">
               <input type="text" placeholder="lat2" name="to_lat" placeholder="lat2">
               <input type="text" placeholder="lon1" name="from_lon" placeholder="lon1">
               <input type="text" placeholder="lon2" name="to_lon" placeholder="lon2">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>

               <h3> add inc to pop range</h3>
               <input type="text" placeholder="state" name="state" >
               <input type="text" id="data-apreensao" name="pop11"  placeholder="value">
               <input type="text" id="data-apreensao" name="pop12"  placeholder="value">
               <input type="text" placeholder="increment" name="inc">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>

               <h3> insert</h3>
               <input type="text" placeholder="state1" name="state" >
               <input type="text" id="data-apreensao" name="pop13"  placeholder="value">
               <input type="text" id="data-apreensao" name="city"  placeholder="value">
               <input type="text" id="data-apreensao" name="lat3"  placeholder="value">
               <input type="text" id="data-apreensao" name="lon3"  placeholder="value">
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>Insert</button>

               <h3> delete</h3>
               <input type="text" placeholder="state" name="state3" >
               <input type="text" id="data-apreensao" name="city1"  placeholder="value">
         
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>Insert</button>


                
               
               
               
            </form>
            
                    </tr>
        </body>
</html>s