{% extends "base.html" %}
{% block title %}Largest n Earthquake Information{% endblock %}
{% block content %}

<h1>1002034491, Avinash Sallagonda</h1>
<h2>Earthquake information retrieval system</h2>

<h4>Earthquake Information</h4>
<table border="1px">
  <thead>
    <th>city</th>
    <th>state</th>
    <th>population</th>
    <th>lat</th>
    <th>lon</th>
  </thead>
  <tbody>
    {% for info in ci %}
    <tr>
      <td>{{info["City"]}}</td>
      <td>{{info["State"]}}</td>
      <td>{{info["Population"]}}</td>
      <td>{{info["lat"]}}</td>
      <td>{{info["lon"]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}