<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background-color: rgb(96, 137, 175);
        }
    
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>5th question</h1>
    <center>
        <h2>
            The count of magnitude greater than {{mag}} at day {{ci}}
        </h2>
        <h2>
            The count of magintudes greater than {{mag}} at night{{cj}}
        </h2>
    </center>
</body>
</html>